@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: all;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	max-width: 1200px;
}

a {
	@apply underline-offset-4;
}
