---
interface Props {
	coverId: string | null;
}

const { coverId } = Astro.props;
---

{coverId ? (
	<div
		class="w-full h-64 overflow-hidden bg-base-300 rounded-b-2xl"
	>
		<img
			class="object-cover"
			width="100%"
			height="100%"
			alt=""
		/>
	</div>
) : null}