---
import Logo from "@/assets/logo.svg";
---


<footer class="container flex flex-col justify-center items-center text-center p-8">
	<a
		href="https://giolt.com"
		target="_blank"
		class="btn btn-link"
	>
		<span>
			Made with
		</span>
		<Logo
			class="w-4 h-4"
		/>
		<span>
			Giolt
		</span>
	</a>
</footer>
