---
export const types = [
	"Restaurants",
	"Song artists",
	"Clothing shops",
	"Dropshipping",
	"Artists",
	"Agencies",
	"Fast food",
	"Auto shops",
	"NGOs",
	"Schools",
	"High-schools",
	"Bloggers",
	"Streamers",
	"Barbershops",
	"Nail salons",
];
---

<div class="flex flex-row gap-1 flex-wrap">
	{types.map((i) => (
		<span class="badge badge-primary badge-lg text-nowrap">
			{i}
		</span>
	))}
</div>
